.mainpage{
	/*padding: 20px 20px 20px 20px;
	background: #e1e2e3;*/
}
.subpage{
	padding: 20px 20px 20px 20px;
	background: white;
}
input{
	width: 300px;
}
.leftbar{
	border-right: 1px solid #9164FF;
	background: white;
	height: 630px;
}

.rightbar{
	background: #f5f5f5;
}

.logopanita img{
	max-height: 100px;
}

.image {
  border: 1px solid lightblue;
  height: 250px;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  /*background-image: url('../img/b.jpg');*/
  background-size: cover;
  background-position: center center;
  display: block;

}